<!DOCTYPE html>

<html>

<head>
  <title>Video.js | HTML5 Video Player</title>
  <script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>
</head>

  <body>
  
    <%= erb :"components/speak_button" %>
    <hr>
    <%= erb :"components/new_word" %>
    <%= erb :"components/words_list" %>
    <hr>
    <%= erb :"components/messages" %>
    <hr>
    <%= erb :"components/video_player" %>
    
  </body>

<script type="text/javascript">
$(function(){
  
  <%# import a bunch of javascript files %>
  <% [ %>
  <%   "speech", "set_video_src", "websockets", "append_to_dom", %>
  <%   "new_word", "get_word_object_from_dom", "edit_word_listener", %>
  <%   "remove_word_listener" %>
  <% ].each do |script_name| %>
    <%= File.read(File.join('views', 'scripts', "#{script_name}.js")) %>
  <% end %>
  
  <%# Initialize the page with a list of words %>
  <%= erb :"components/words_init" %>

})
</script>

</html>
